@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 90%;
  max-height: 100vh;
  font-family: "Open Sans", serif;
  background: #f4f4f4;
}

.top-bg {
  position: relative;
  overflow-x: hidden;
}

.top-bg .bg {
  height: 30rem;
  top: 0rem;
  background: #d9e0e7;
  rotate: 4deg;
}

.navbar {
  border-bottom: 2px solid #52aa4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar i {
  margin-left: 2rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.nav-items {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items .logo {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.nav-items .logo span {
  color: #52aa4d;
}

.nav-items ul {
  width: 30%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items ul li:hover {
  color: #52aa4d;
  transition: 0.2s;
}

.nav-items ul li::before {
  content: "";
  position: relative;
  width: 100%;
  height: 2px;
  border-bottom: 20px solid #52aa4d;
}

.btn button {
  font-size: 0.9rem;
  padding: 0.7rem 0.5rem;
  background: #52aa4d;
  border-radius: 0.3rem;
  color: #fff;
  border: 0;
  cursor: pointer;
  outline: "none";
}

.hero .hero-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.left h1 {
  font-weight: 600;
  font-size: 3.5rem;
}

.left span {
  color: #52aa4d;
  font-weight: 600;
}

.left p {
  color: #444343c1;
  font-size: 0.9rem;
  margin: 1rem 0;
  font-weight: 500;
}

.left .btn {
  margin-top: 3rem;
}

.right {
  margin: 1rem 1rem 0 0;
}

.right img {
  width: 450px;
  margin: 2rem 5rem 0 0;
}

.hero .hero-footer {
  text-align: center;
  margin: 1rem 0;
}

.hero-footer h3 {
  font-weight: 600;
  font-size: 1.8rem;
}

.hero-footer p {
  color: #444343c1;
}

.company ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
  list-style-type: none;
}

/* community section  */

.community {
  margin: 3rem 0;
  height: 100vh;
}

.community-content .heading h1 {
  font-size: 2rem;
}

.community-content .heading p {
  color: #444343c1;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

.company-container {
  margin: 2rem 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.company-container h3 {
  font-size: 1.6rem;
}

.company-container p {
  color: #444343c1;
  width: 70%;
  margin: 0.7rem auto;
  font-size: 0.9rem;
  font-weight: 500;
}

.community-dashboard {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #abbed15f;
}

.community-dashboard .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-dashboard .left img {
  width: 45%;
}

.left .left-box h1 {
  font-size: 1.6rem;
}

.left .left-box p {
  color: #444343c1;
  width: 70%;
  margin: 0.7rem 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.community-dashboard .right {
  display: flex;
  width: 30%;
}

.community-dashboard .right .right-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 70%;
  align-content: center;
  justify-content: space-between;
}

.community-dashboard .right .right-box img {
  width: 40%;
}

/* about section */

.about {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about .left p {
  text-align: center;
  width: 70%;
}

.about .btn {
  margin: 1rem 0;
}

.about .right img {
  width: 30rem;
  margin-bottom: 2rem;
}

/* contact */

.contact {
  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 15%;
  left: -5%;
  rotate: -5deg;
  min-width: 200%;
  height: 400px;
  background: #52aa4d;
  z-index: -22;
}

.contact-items {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0;
}

.contact .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .left p {
  width: 70%;
}

.contact .form {
  width: 50%;
}

.contact .form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.contact .form label {
  margin: 0.3rem;
}

.form input {
  width: 80%;
  border-radius: 0.5rem;
  display: block;
  outline: none;
  border: 2px solid #81c784;
  padding: 1rem 0.5rem;
  background: #e8f5e9;
}

.contact textarea {
  width: 80%;
  border-radius: 0.5rem;
  display: block;
  outline: none;
  border: 2px solid #81c784;
  padding: 1rem 0.5rem;
  background: #e8f5e9;
}

.contact .btn {
  margin: 1rem 0;
}

/* footer */

.footer {
  background: #2d3036;
  color: #fff;
  width: 100%;
}

.footer .footer-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-items .basic-details,
.footer-items .footer-company,
.support,
.end {
  width: 35%;
  margin: 2rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-items .para {
  margin: 2rem 0;
}

.footer-items .para p {
  color: #ffffffaa;
  font-size: 0.9rem;
  font-weight: 500;
}

.fa-brands {
  padding: 0.5rem;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.footer-items .footer-company ul,
.support ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: none;
}

.footer-items .footer-company ul li,
.support ul li {
  padding: 0.5rem 0;
}

.footer .end .end-form {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  background: #000;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.end input {
  background: none;
  padding: 0.7rem;
  border: 0;
  color: #fff;
  outline: none;
}
