.container {
  max-width: 1300px;
  min-width: 90%;
  margin: 0 auto;
}

.btn button {
  font-size: 0.9rem;
  padding: 0.7rem 0.5rem;
  background: #52aa4d;
  border-radius: 0.3rem;
  color: #fff;
  border: 0;
  cursor: pointer;
  outline: "none";
}

.link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.bg-white {
  width: 100%;
  min-width: 90%;
  max-height: 100vh;
  font-family: "Open Sans", serif;
  background-color: #fff;
  color: #000;
}

.bg-black {
  width: 100%;
  min-width: 90%;
  max-height: 100vh;
  font-family: "Open Sans", serif;
  background-color: #000;
  color: #fff;
}

.header-black {
  height: 8vh;
  background: #000;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 150;
}

.bg-company {
  background: #fff;
  margin: 0 1rem;
  padding: 0.1rem 0.2rem;
  border-radius: 0.5rem;
}

.bg-company:hover {
  box-shadow: 1px 1px 50px #fff;
  transition: 0.2s;
}

label::after {
  content: " *";
}
